<app-header />
<div class="container">
  <app-sidebar />
  <!-- Main Content Area -->
  <main class="main-content">
    <h1>Administrar Roles</h1>
    <section class="incident-table">
      <h2>Usuarios</h2>
      
      <!-- Mostrar mensaje de error si ocurre un problema al cargar los usuarios -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <table id="user-table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.description }}</td>
            <td>
              <button class="btn edit-btn">Editar</button>
              <button class="btn assign-btn">Asignar</button>
              <button class="btn delete-btn">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </main>
</div>
